  <div class="centered col mb-3">
    <div class="card bg-light">
      <a href="/videos/{{id}}"><img class="card-img-top" src="{{snippet.thumbnails.high.url}}"></a>
      <div class="card-body px-2 py-1">
        <p class="card-text m-0 text-truncate"><small>{{snippet.title}}</small></p>
        <a href="/channels/{{snippet.channelId}}" ><p class="card-text m-0 text-truncate"><small class="text-muted">{{snippet.channelTitle}}</small></p></a>
        <p class="card-text m-0">
          <small class="text-muted">
            <i class="fas fa-eye"></i> {{formatNum statistics.viewCount}}  | 
            <i class="fas fa-thumbs-up"></i> {{formatNum statistics.likeCount}}  | 
            <i class="fas fa-thumbs-down"></i> {{formatNum statistics.dislikeCount}} 
            </small></p>
      </div>
    </div>
  </div>